/* SearchBar.css */
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-button, .voice-button {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.search-button {
  background-color: #3498db;
  color: #fff;
}

.voice-button {
  background-color: #2ecc71;
  color: #fff;
  margin-left: 5px;
}
